<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<title>Le formulaire</title>
            <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		</head>
		<body>
            <h1>Repertoire telephonique</h1>
            <h2>Ce contact existe deja.</h2>
			
	    <p><a href="{{ url_for('replacer')}}"" style="color: Black">replacer le numero</a></p>
            <p><a href="{{ url_for('supprimer')}}"" style="color: Black">supprimer le numero</a></p>
	    <p><a href="{{ url_for('index')}}"" style="color: Black">retour au menu principale</a></p>
		</body>
	</html>
			